@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* root */
:root {
    --Color1: #0A3340;
    --Color2: #F4FBFC;
    --Color3: #74D7F5;
    --Color4: #082933;
    --Color5: #D7BBA8;
    --color6: #E26D5A;
    --Color7: #9ca5a8;
    --Color8: #e4da19;
    --Color9: #144e57;
}

/* all */
*{
    color: var(--Color7);
    font-family: 'Montserrat', sans-serif;
}
.pb-main {
    padding-bottom: 4rem;
}
.pt-main {
    padding-top: 4rem;
}
.min-vh-85 {
    min-height: 85vh;
}

/* links */
a {
    color: var(--Color2);
    text-decoration: none;
}
a:hover {
    color: var(--Color3)
}

/* floating effect */
.floating {
    animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 15px);
    }
    to {
        transform: translate(0, -0px);
    }
}

/* img */
.img-landing {
    max-width: 80%;
    height: auto;
}

/* titles */
.h1, h1 {
    margin: 0;
    color: var(--Color3);
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}
.h2, h2 {
    color: var(--Color3);
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}
.h3, h3 {
    color: var(--Color3);
    font-family: 'Oswald', sans-serif;
}

/* header */
.logo {
    color: var(--Color3);
}
#header {
    background-color: var(--Color4);
}
.navbar {
    padding: 0.25em;
}
.navbar-toggler {
    color: var(--Color2);
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
    background-color: var(--Color9);
}
.nav-link {
    color: var(--Color2);
}
.nav-link:focus, .nav-link:hover {
    color: var(--Color3);
}
.icon-toggler {
    color: var(--Color3);
}

/* main */
main {
    background-color: var(--Color4);
}

.my-span {
    color: var(--Color3);
    font-size: 1.25em;
}
p {
    color: var(--Color2);
}

/* cards */
.card {
    background-color: var(--Color1);
}
.card-title {
    color: var(--Color3);
    font-family: 'Oswald', sans-serif;
}
.card-text {
    color: var(--Color2);
}
.stars {
    color: var(--Color8);
}

/* footer */
#footer {
    background-color: var(--Color4);
}
.copy {
    font-size: 0.8em;
}

/* Screen size is 576px */
@media screen and (min-width: 576px) {
    .img-landing {
        max-width: 50%;
    }
}

/* Screen size is 992px */
@media screen and (min-width: 992px) {
    .img-landing {
        max-width: 80%;
    }
}
