/* root */
:root {
    --Color1: #a75757;
    --Color2: #131313;
    --Color3: #E072A0;
    --Color4: #0d2e47;
    --Color5: #ffc200;
}

/* all */
*{
    color: var(--Color2);
}
.pb-main {
    padding-bottom: 4rem;
}
.pt-main {
    padding-top: 4rem;
}
.min-vh-50 {
    min-height: 50vh;
}

/* links */
a {
    color: var(--Color2);
    text-decoration: none;
}
a:hover {
    color: var(--Color3)
}

/* floating effect */
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 15px);
    }
    to {
        transform: translate(0, -0px);
    }
}

/* img */
.img-thomas {
    max-width: 100%;
    height: auto;
}

/* titles */
.h1, h1 {
    margin: 0;
}

/* header */
#header {
    background-color: var(--Color1);
    border-bottom: 2px solid;
}
.navbar {
    padding: 0.25em;
}
.navbar-toggler {
    color: var(--Color2);
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
    background-color: var(--Color3);
}
.nav-link {
    color: var(--Color2);
}
.nav-link:focus, .nav-link:hover {
    color: var(--Color3);
}

/* main */
main {
    background-color: var(--Color4);
}

/* cards */
.card {
    background-color: var(--Color1);
    border: 2px solid;
}
.stars {
    color: var(--Color5);
}

/* footer */
#footer {
    background-color: var(--Color1);
    border-top: 2px solid;
}

/* Screen size is 576px */
@media screen and (min-width: 576px) {
    .img-thomas {
        max-width: 50%;
    }
}
